apiVersion: v1
kind: Service
metadata:
  annotations:
    kompose.cmd: kompose -f docker-compose.yml convert
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 3000
  selector:
    io.kompose.service: grafana
