apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose -f docker-compose.yml convert
    kompose.version: 1.37.0 (fb0539e64)
  labels:
    io.kompose.service: grafana
  name: grafana
spec:
  replicas: 1
  selector:
    matchLabels:
      io.kompose.service: grafana
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kompose.cmd: kompose -f docker-compose.yml convert
        kompose.version: 1.37.0 (fb0539e64)
      labels:
        io.kompose.service: grafana
    spec:
      containers:
        - image: grafana/grafana-enterprise:12.3.0-17814087142-boringcrypto
          name: grafana
          ports:
            - containerPort: 3000
              protocol: TCP
          volumeMounts:
            - name: grafana-config
              mountPath: /etc/grafana
            - name: grafana-data
              mountPath: /var/lib/grafana
            - name: nvcl-db
              mountPath: /nvcl-db
      restartPolicy: Always
      volumes:
         - name: grafana-config
           persistentVolumeClaim:
             claimName: grafana-config
         - name: grafana-data
           persistentVolumeClaim:
             claimName: grafana-data
         - name: nvcl-db
           persistentVolumeClaim:
             claimName: nvcl-db
